#root {
  margin: 0 auto;
  text-align: center;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  width: 100vw;
}
.card button {
  width: 50%;
}

.read-the-docs {
  color: #888;
}
